<div class="container">
  <form class="row">
    <div class="col-4">
      <h4 class="py-4">Izaberi datum</h4>
      <div class="input-group date">
        <input
          id="datepicker"
          class="form-control"
          placeholder="yyyy-mm-dd"
          type="text"
          name="date"
          (dateSelect)="onSelect($event)"
          [(ngModel)]="currentDateObj"
          ngbDatepicker
          #date="ngbDatepicker"
          [minDate]="minDate"
          readonly
        />

        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary calendar"
            (click)="date.toggle()"
            type="button"
          >
            <i class="bi bi-calendar-date"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <h4 class="py-4">Izaberi specijalistu</h4>
      <select
        [(ngModel)]="selectedValue"
        class="form-control"
        aria-label="Default select example"
        #specijalnost
        (change)="selectOption(specijalnost.value)"
      >
        <option [value]="o.value" *ngFor="let o of options">
          {{ o.name }}
        </option>
      </select>
    </div>
    <div class="col-4" style="margin-top: 82px">
      <button
        type="button"
        class="btn"
        style="background-color: rgba(138, 220, 255, 0.853)"
        (click)="getSlobodniTermini()"
      >
        Pretrazi
      </button>
    </div>
  </form>
  <div class="row">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Pocetak termina</th>
          <th scope="col">Kraj termina</th>
          <th scope="col">Ime doktora</th>
          <th scope="col">Specijalnost</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let termin of termini" (click)="isSelektovan(termin.id)">
          <td>{{ termin.pocetakTermina }}</td>
          <td>{{ termin.krajTermina }}</td>
          <td>{{ termin.imeDoktora }}</td>
          <td>{{ termin.specijalnostDoktora }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button
    type="button"
    class="btn btn-success"
    (click)="zakazi()"
    [disabled]="!selektovan"
  >
    Zakazi
  </button>
  <button
    type="button"
    class="btn"
    style="
      color: white;
      background-color: rgba(38, 67, 80, 0.555);
      margin-left: 5px;
    "
    (click)="goBack()"
  >
    Nazad
  </button>
</div>
