<div class="container">
  <div class="row card text-center">
    <div class="card-header">IZVESTAJ</div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          posuere erat a ante. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit
          amet, consectetur adipiscing elit. Integer posuere erat a ante.
        </p>
        <footer class="blockquote-footer">
          Specijalista :<cite title="Source Title">Ime</cite>
        </footer>
      </blockquote>
    </div>
  </div>
  <button class="btn btn-sm btn-light" type="button" (click)="goBack()">
    <i class="bi bi-arrow-left"></i>Nazad
  </button>
</div>
