<div class="container">
  <div class="row card text-center">
    <div class="card-header">Lekarski izvestaj za {{izvestajResponse.studentImePrezime}}, JMBG : {{izvestajResponse.studentJmbg}}</div>
    <div class="card-body">
      <blockquote class="blockquote mb-0" style="width: fit-content;">
        <p>
          {{izvestajResponse.opis}}
        </p>
        <!-- <footer class="blockquote-footer">
          Specijalista :<cite title="Source Title">Ime</cite>
        </footer> -->
      </blockquote>
    </div>
  </div>
  <button class="btn btn-sm btn-light" type="button" (click)="goBack()">
    <i class="bi bi-arrow-left"></i>Nazad
  </button>
</div>
