#pregled{
    margin-top: 45px;
    font-size: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgba(9, 26, 102, 0.836);
}

hr {
    color: #a9ebff;
    background-color: #16b3be;
    height: 5px;
    border-radius: 4px;
    margin-top: 50px;
     
    margin-left:35% !important;
    margin-right:35% !important;
}

.btn{
margin-top: 20px;
background-color: #1999ee83;
font-size: 15px;  
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: white;
/* margin-left:47% !important;
margin-right:48% !important; */
/* padding-left: 10px;
padding-right: 10px;
margin-bottom: 20px; */
width: max-content;
}
.btn:hover{
    margin-top: 20px;
    background-color: #2784eebe;
    font-size: 15px;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    /* margin-left:47% !important;
    margin-right:48% !important; */
    /* padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px; */
    width: max-content;
    }

.servisi{
    margin-left:20% !important;
    margin-right:10% !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(9, 26, 102, 0.836);
    font-size: larger;

}

.usluge{
    margin-left:15% !important;
    margin-right:10% !important;
    font-size: small;
    font-family:  sans-serif;
    font-weight: bold;
    color: rgba(27, 76, 184, 0.747);

}

